{% extends "tophatter/base.html" %}

{% load static %}




        <!-- Services header -->
        <section class="row" id="tmServices">
          <div class="col-12">
            <div class="parallax-window tm-services-parallax-header"
                 data-parallax="scroll"
                 data-z-index="101"
                 data-image-src="{% static "img/coffee-glass.jpg" %}">

                 <div class="tm-bg-black-transparent text-center tm-services-header">
                    <h2 class="text-uppercase tm-services-page-title">Our Services</h2>
                    <p class="tm-services-description mb-0 small">
                        This is a parallax movement background image "coffee glass". <br>
                        Aliquam egestas lectus semper enim malesuada, in convallis nunc sagittis.<br>
                        Pellentesque quis tellus vel tortor malesuada egestas.
                    </p>
                </div>
            </div>
          </div>
{% block content %}
          <div class="col-12">
            <div class="tm-bg-black-transparent tm-services-detail-box">
                <p>
Безопасность на Tophatter
                </p>
                <p>

Люди заходят на Tophatter, чтобы заработать. Мы хотим, чтобы мир
стал более открытым и свободным для заработка и чтобы каждый на
Tophatter чувствовал себя в безопасности.
Вместе с экспертами из нашей организации, мы анализируем ваши
отзывы, чтобы разрабатывать правила, инструменты и ресурсы для
защиты нашего сообщества.
Мы стремимся создать среду, в которой все внимательно и
уважительно относятся друг к другу.
Используйте пароли, которые сложно угадать. Выбирайте пароли
длиной не менее 6 символов, среди которых будут цифры, буквы и
специальные символы.
Каждый человек который работает на платформе уверен в
безопасности своих активов, а тот кто вас пригласил с уверенностью
может вам гарантировать стабильный заработок без обмана.
                </p>
            </div>
          </div>

          <div class="col-12 tm-tabs-container">
              <div class="tm-tab-links">
                    <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                        <li><a href="#tab1" class="active">
                            <div class="icon-wrap"><i class="fas fa-1x fa-leaf"></i></div>
                           Первый способ
                        </a></li>
                        <li><a href="#tab2" class="">
                            <div class="icon-wrap"><i class="fab fa-2x fa-canadian-maple-leaf"></i></div>
                            Второй способ
                        </a></li>
                        <li><a href="#tab3" class="">
                            <div class="icon-wrap"><i class="fab fa-2x fa-pagelines"></i></div>
                            Tретий способ
                        </a></li>
                    </ul>
                </div>
                <div class="tm-tab-contents">
                    <div id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <div class="text-content">
                                <h3 class="tm-service-tab-title">Первый способ заработка</h3>
                                <p class="tm-service-tab-p"> Зарабатывать комиссионные от имени заказов
                                </p>
                                <p class="mb-0">
                                    Заказы на выполнение заданий также называются активным доходом.
Чтобы выполнить задание на размещение заказа, требуется всего 20-30 минут в день. Платформа
распределит заказ в соответствии с вашим балансом счета + балансом финансового управления.
После размещения заказа вы получите комиссию за заказ. Коэффициент распределения каждого
заказа составляет (баланс счета + баланс управления финансами) * 10% - 50%.

Допустим, вы находитесь в зале Allegro, являетесь золотым участником, ваш основной капитал
составляет 1000 USDT, коэффициент возврата составляет 0,17%, а самый высокий заказ, который
вы получаете, составляет:
500 x 0,0017 = 0,85USDT (комиссия, которую вы получаете за выполнение задания)
Золотые участники могут нажать 38 заказов в день:
0,85USDT*38 раз = 32USDT/день

                            </div>
                        </div>
                        <div id="tab2">
                            <div class="text-content">
                                <h3 class="tm-service-tab-title">Второй способ</h3>
                                <p class="tm-service-tab-p"> Доход от управления финансами Yu'eBao
                                </p>
                                <p class="mb-0">
                                    Etiam egestas metus vitae est interdum, in eleifend nunc volutpat. Aliquam molestie
                                    ipsum quis suscipit lacinia. Mauris turpis libero, iaculis non dictum ac, ornare a massa.
                                    Duis id lorem purus. Fusce viverra ullamcorper metus. Curabitur puvinar suscipit sapien
                                    ac blandit. Aliquam vel pulvinar purus, sit amet luctus urna.
                                </p>
                            </div>
                        </div>
                        <div id="tab3">
                            <div class="text-content">
                                <h3 class="tm-service-tab-title">Service Tab Three</h3>
                                <p class="tm-service-tab-p">Mauris turpis libero, iaculis non dictum ac, ornare a massa.
                                    Duis id lorem purus. Fusce viverra ullamcorper metus. Curabitur puvinar suscipit sapien
                                    ac blandit. Aliquam vel pulvinar purus, sit amet luctus urna. Nulla convallis est volutpat ex ultrices facilisis.
                                </p>
                                <p class="mb-0">
                                    Etiam egestas metus vitae est interdum, in eleifend nunc volutpat. Aliquam molestie
                                    ipsum quis suscipit lacinia. Nam consequat, leo vitae aliquet dignissim, leo est laoreet nibh, nec dictum libero justo
                                    vitae dolor. Donec tristique eros at nisi elementum efficitur. Proin ornare feugiat ex placerat pellenteqsue.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

<!-- Page footer -->
<footer class="row">
  <p class="col-12 text-white text-center tm-copyright-text">
    Copyright &copy; 2022 App .
    Designed by <a href="#" class="tm-copyright-link">Denny Templ</a>
  </p>
</footer>


    <script>
        $(function(){
            $('.tabgroup > div').hide();
            $('.tabgroup > div:first-of-type').show();
            $('.tabs a').click(function(e){
              e.preventDefault();
              var $this = $(this),
                  tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
                  others = $this.closest('li').siblings().children('a'),
                  target = $this.attr('href');
              others.removeClass('active');
              $this.addClass('active');
              $(tabgroup).children('div').hide();
              $(target).show();

              // Scroll to tab content (for mobile)
              if($(window).width() < 992) {
                  $('html, body').animate({
                      scrollTop: $("#first-tab-group").offset().top
                  }, 200);
              }
            })
        });

    </script>
{% endblock %}