{% extends "tophatter/base.html" %}

{% load static %}




        <!-- Services header -->
        <section class="row" id="tmServices">
          <div class="col-12">
            <div class="parallax-window tm-services-parallax-header"
                 data-parallax="scroll"
                 data-z-index="101"
                 data-image-src="{% static "img/coffee-glass.jpg" %}">

                 <div class="tm-bg-black-transparent text-center tm-services-header">
                    <h2 class="text-uppercase tm-services-page-title">Our Services</h2>
                    <p class="tm-services-description mb-0 small">
                        This is a parallax movement background image "coffee glass". <br>
                        Aliquam egestas lectus semper enim malesuada, in convallis nunc sagittis.<br>
                        Pellentesque quis tellus vel tortor malesuada egestas.
                    </p>
                </div>
            </div>
          </div>
{% block content %}
          <div class="col-12">
            <div class="tm-bg-black-transparent tm-services-detail-box">
                <p>
                    Безопасность на Tophatter
                </p>
                <p>
                    Люди заходят на Tophatter, чтобы заработать. Мы хотим, чтобы мир
                    стал более открытым и свободным для заработка и чтобы каждый на
                    Tophatter чувствовал себя в безопасности.
                    <p>Вместе с экспертами из нашей организации, мы анализируем ваши
                    отзывы, чтобы разрабатывать правила, инструменты и ресурсы для
                    защиты нашего сообщества.</p>
                    <p>Мы стремимся создать среду, в которой все внимательно и
                    уважительно относятся друг к другу.
                    Используйте пароли, которые сложно угадать. Выбирайте пароли
                    длиной не менее 6 символов, среди которых будут цифры, буквы и
                    специальные символы.
                    Каждый человек который работает на платформе уверен в
                    безопасности своих активов, а тот кто вас пригласил с уверенностью
                    может вам гарантировать стабильный заработок без обмана.</p>
                </p>
            </div>
          </div>

          <div class="col-12 tm-tabs-container">
              <div class="tm-tab-links">
                    <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                        <li><a href="#tab1" class="active">
                            <div class="icon-wrap"><i class="fas fa-1x fa-leaf"></i></div>
                           Первый способ
                        </a></li>
                        <li><a href="#tab2" class="">
                            <div class="icon-wrap"><i class="fab fa-2x fa-canadian-maple-leaf"></i></div>
                            Второй способ
                        </a></li>
                        <li><a href="#tab3" class="">
                            <div class="icon-wrap"><i class="fab fa-2x fa-pagelines"></i></div>
                            Tретий способ
                        </a></li>
                    </ul>
                </div>
                <div class="tm-tab-contents">
                    <div id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <div class="text-content">
                                <h3 class="tm-service-tab-title">Первый способ заработка</h3>
                                <p class="tm-service-tab-p"> Зарабатывать комиссионные от имени заказов
                                </p>
                                <p class="mb-5">
                                        <div class="tm-home-right">
                                         <img src="{% static "/img/s11.jpg" %}" alt="App on Mobile mockup" />
                                        </div>
                                  <p class="mb-5"> Заказы на выполнение заданий также называются активным доходом.
                                    Чтобы выполнить задание на размещение заказа, требуется всего 10-20 минут в день. Платформа
                                    распределит заказ в соответствии с вашим балансом счета + балансом финансового управления.
                                    После размещения заказа вы получите комиссию за заказ. Коэффициент распределения каждого
                                    заказа составляет (баланс счета + баланс управления финансами) * 10% - 50%.</p>
                                    <li>Уровень 1: Зал Flipkart для Серебрянных Участников

                                    - Необходимый баланс 50 USDT – 5000 USDT
                                    - 28 заказов; коэффициент возврата 0.15%
                                    - Отсутствие требований к агентам</li>
                                    <li>Уровень 2: Зал Allegro для Золотых Участников
                                    - Необходимый баланс 800 USDT – 10000 USDT
                                    - 38 заказов; коэффициент возврата 0.17%
                                    - Требуется 3 активных первичных агента</li>
                                                                    <li>Уровень 3: Зал eBay для Платиновых Участников
                                    - Необходимый баланс 3000 USDT – 30000 USDT
                                    - 48 заказов; коэффициент возврата 0.19%
                                    - Требуется 8 активных первичных агентов</li>
                                                                    <li>Уровень 4: Зал Zalando для Верховных Участников
                                    - Необходимый баланс 5000 USDT – 100000 USDT
                                    - 58 заказов; коэффициент возврата 0.22%
                                    - Требуется 10 активных первичных агентов</li>
                                                                    <li>Уровень 5: Зал Cdiscount для Бриллиантовых Участников
                                    - Необходимый баланс 8000 USDT – 300000 USDT
                                    - 78 заказов; коэффициент возврата 0.24%
                                    - Требуется 15 активных первичных агентов</li>
                                                                    <li>Уровень 6: Зал Amazon для Участников Черного золота
                                    - Необходимый баланс 12000 USDT – 500000 USDT
                                    - 88 заказов; коэффициент возврата 0.26%
                                    - Требуется 20 активных первичных агентов</li>

                                                                                 <p class="tm-service-tab-p"> Зарабатывать комиссионные от имени заказов
                                                                    </p>
                                    <p>Допустим, вы находитесь в зале Allegro, являетесь золотым участником, ваш основной капитал
                                    составляет 1000 USDT, коэффициент возврата составляет 0,17%, а самый высокий заказ, который
                                    вы получаете, составляет:
                                    500 x 0,0017 = 0,85USDT (комиссия, которую вы получаете за выполнение задания)
                                    Золотые участники могут нажать 38 заказов в день:
                                    0,85USDT*38 раз = 32USDT/день</p>

                                    <div class="tm-home-right">
                                      <img src="{% static "/img/s12.jpg" %}" alt="App on Mobile mockup" />
                                    </div>
                            </div>
                        </div>
                        <div id="tab2">
                            <div class="text-content">
                                <h3 class="tm-service-tab-title">Второй способ</h3>
                                <p class="tm-service-tab-p"> Доход от управления финансами Yu'eBao
                                </p>
                                <p class="mb-0">
                                        <div class="tm-home-right">
                                          <img src="{% static "/img/s13.jpg" %}" alt="App on Mobile mockup" />
                                        </div>
                                                 В общей сложности существует шесть финансовых инструментов управления доходами Yu’eBao:
                                                 Смысл прост - ставите желаемую сумму на желаемый период времени под удобные Вам проценты.
                                                До тех пор пока не пройдёт срок депозита, деньги вывести по логике невозможно.
                                            <p>1. Внесение доступного депозита на управление Yu'eBao не влияет на сумму ежедневных заданий
                                            по заказам.</p>
                                            2. Средства на депозиты Yu'eBao вносятся на расписанные выше промежутки времени, по
                                            истечению которых, нужно вручную нажать на кнопку вывода. Инструменты финансового
                                            управления автоматически не продлеваются.
                                </p>
                            </div>
                        </div>
                        <div id="tab3">
                            <div class="text-content">
                                <h3 class="tm-service-tab-title">Третий способ</h3>
                                <p class="tm-service-tab-p">Комиссионные от дохода команды
                                </p>
                                <p class="mb-0">
                                    <p>Приглашайте друзей стать вашими партнерами и развивайте команду.
                                    Развитие команды – это пассивный доход.
                                    Пассивный доход – это стабильный доход.
                                    Этот способ заработка денег на платформе Tophatter заключается в том, что пока вы спите -
                                    существует система, которая работает и зарабатывает для вас деньги. Даже если вы не работаете,
                                    у вас все равно есть доход.</p>
                                </p>
                                <li>Примечание: помните, что комиссия команды — это дополнительное вознаграждение для вас от
                                    платформы, а не часть заработанных денег вашего партнера, поэтому не стоит беспокоиться о том,
                                    что его комиссия уменьшится!</li>
                                <p>На нашей платформе предусмотрено 5 уровней реферальной программы.
                                    Приглашая друзей стать вашими партнерами, агентами 1го уровнями, вы получите 16%
                                    комиссионных от их заработка. Если ваш агент 1го уровня пригласит в свою команду нового
                                    партнера (агента 2го уровня), вы можете рассчитывать на 8% комиссии от его заработка. Новый
                                    партнер (агент 3го уровня), которого пригласил ваш агент 2го уровня позволит вам дополнительно
                                    заработать 4% от дохода нового партера…</p>
                                <li>На нашей платформе предусмотрено 5 уровней реферальной программы.
                                        Приглашая друзей стать вашими партнерами, агентами 1го уровнями, вы получите 16%
                                        комиссионных от их заработка. Если ваш агент 1го уровня пригласит в свою команду нового
                                        партнера (агента 2го уровня), вы можете рассчитывать на 8% комиссии от его заработка. Новый
                                        партнер (агент 3го уровня), которого пригласил ваш агент 2го уровня позволит вам дополнительно
                                        заработать 4% от дохода нового партера…
                                </li>

                                <p>Пример расчета комиссионных от дохода команды:
                                    После того, как все ваши агенты первого уровня выполнят задание (заказы) на сегодня (если они
                                    его выполнят), общая комиссия составит - 1000 USDT.
                                    Командное вознаграждение, которое вы получите - 1000 x 16% = 160 USDT
                                    После того, как все ваши агенты второго уровня выполнят задание, общая комиссия составит 1000
                                    USDT
                                    Таким образом, комиссионные от команды - 1000 x 8% = 80 USDT
                                    После того, как все ваши агенты третьего уровня выполнят задание, общая комиссия составит -
                                    1000 USDT
                                    Командное вознаграждение - 1000 x 4% = 40 USD
                                    После того, как все ваши агенты четвертого уровня выполнят задание, общая комиссия составит -
                                    1000 USDT
                                    Тогда вы получите - 1000 x 2% = 20 USD
                                    После того, как все ваши агенты пятого уровня выполнят задание, общая комиссия составит - 1000
                                    USDT
                                    Тогда, командное вознаграждение, которое вы получите - 1000 х 1% = 10 USD
                                    По аналогии, будь то агент 10 уровня или агент 100 уровня ниже вас, у него комиссия агента 5
                                    уровня.
                                    Ваши партнеры в пределах 5 уровней имеют комиссионные!
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

<!-- Page footer -->
<footer class="row">
  <p class="col-12 text-white text-center tm-copyright-text">
    Copyright &copy; 2022 App .
    Designed by <a href="#" class="tm-copyright-link">Denny Templ</a>
  </p>
</footer>


    <script>
        $(function(){
            $('.tabgroup > div').hide();
            $('.tabgroup > div:first-of-type').show();
            $('.tabs a').click(function(e){
              e.preventDefault();
              var $this = $(this),
                  tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
                  others = $this.closest('li').siblings().children('a'),
                  target = $this.attr('href');
              others.removeClass('active');
              $this.addClass('active');
              $(tabgroup).children('div').hide();
              $(target).show();

              // Scroll to tab content (for mobile)
              if($(window).width() < 992) {
                  $('html, body').animate({
                      scrollTop: $("#first-tab-group").offset().top
                  }, 200);
              }
            })
        });

    </script>
{% endblock %}