
{% extends "tophatter/base.html" %}

{% load static %}

{% block content %}





<!-- About -->
<section class="row" id="tmAbout">
    <header class="col-12 tm-about-header">
      <h2 class="text-uppercase text-center text-dark tm-about-page-title">Top Work</h2>
      <hr class="tm-about-title-hr">
    </header>
  <div class="col-lg-4">
        <div class="tm-bg-black-transparent tm-about-box">
          <div class="tm-about-number-container">0.1</div>
          <h3 class="tm-about-name">Best Quality</h3>
          <p class="tm-about-description">
            <p>Что для этого необходимо?</p>
            <li>Верифицированный Binance аккаунт </li>
            <li>Действующий кошелёк USDT </li>
            <li>Сеть для переводов Tron(TRC20)</li>
          </p>
        </div>
  </div>

  <div class="col-lg-4">
    <div class="tm-bg-black-transparent tm-about-box">
      <div class="tm-about-number-container">0.2</div>
      <h3 class="tm-about-name">Satisfaction</h3>
      <p class="tm-about-description">
        <li>Подробные шаги от А до Я</li>
        <li>Помогаем зарегистрироваться, сопровождаем до первых побед</li>
        <li>Вводим в курс дела</li>
        <li>Акции и бонусы при регистрации!</li>
        <li>Каждому новичку +6 USDT при успешной регистрации</li>


        </p>
      <a href="{% static 'registry.pdf' %}" class="btn btn-tertiary tm-btn-app-feature">Details</a>

    </div>
  </div>

  <div class="col-lg-4">
    <div class="tm-bg-black-transparent tm-about-box">
      <div class="tm-about-number-container">0.3</div>
      <h3 class="tm-about-name">High Return</h3>
      <p class="tm-about-description">
        Наш интерес заключается в развитии платформы! Помощь абсолютно бесплатна
      </p>
      <p class="tm-about-description">
     	Переходите по ссылке Контакты, оставляйте заявку и мы свяжемся c Вами для дальнейшей регистрации!
      </p>
      <a href="{% url 'contact' %}" class="btn btn-secondary tm-btn-app-feature">More</a>
    </div>
  </div>
</section>

<!-- App Features -->
<section id="tmAppFeatures">
    <div class="row">
        <header class="col-12 text-center text-white tm-bg-black-transparent p-5 tm-app-header">
            <h2 class="text-uppercase mb-3 tm-app-feature-header" >Features</h2>
            <p class="mb-0 small"> Будущее уже наступило. Вы можете узнать о нововведениях во вкладке News, а также методах подхода и многое другое...</p>
        </header>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="tm-bg-white-transparent tm-app-feature-box">
                <div class="tm-app-feature-icon-container">

                </div>
                <div class="tm-app-feature-description-box">
                    <h3 class="mb-4 tm-app-feature-title">"Tophatter"   </h3>
                    <p class="tm-app-feature-description"> — это сторонняя интеллектуальная платформа для принятия
                            заказов, управляемая облаком. Платформа сотрудничает с Flipkart, AIlegro,
                            eBay, Zalando, Cdiscount, Amazon и другими платформами электронной
                            коммерции для свободной и внешней торговли продавцов. Сопоставляет
                            заказы продавцов с пользователями платформы через интеллектуальную
                            облачную систему. Таким образом, объем сделок и доверие к продавцам на
                            основных платформах были улучшены, а громоздкий режим подачи заказов
                            в традиционных интернет-магазинах был изменен.
                            <li>Существует удаленный интеллектуальный облачный сервер для
                            автоматического оформления заказов, и пользователям платформы нужно
                            только предоставить реальный адрес доставки, номер телефона и
                            некоторую реальную информацию о покупках на платформе, и передать ее в
                            интеллектуальный облачный сервер.</li> </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="tm-bg-white-transparent tm-app-feature-box">
                <div class="tm-app-feature-icon-container">

                        </div>
                        <div class="tm-app-feature-description-box">
                            <h3 class="mb-4 tm-app-feature-title">Платформа заказа</h3>
                            <p class="tm-app-feature-description"> — это платформа, которая сотрудничает с крупными
                                компаниями электронной коммерции через "Tophatter".
                                "Tophatter", как посредник, должен быть пополнен платформой "Tophatter",
                                чтобы обеспечить защиту данных для торговцев. Платформа будет
                                случайным образом соответствовать от 10% до 50% баланса счета в
                                зависимости от баланса вашего счета.


                                <li>Платформа "Tophatter" будет вызывать некоторые сомнения у тех, кто только
                                начинает присоединяться. Ежедневная выгода от вложений (от имени счетавашего аккаунта) очевидна для всех. То есть, самое быстрое 20 дней и самое
                                медленное 30 дней, чтобы окупить свой капитал.</li></p>
                        </div>
            </div>
        </div>


    </div>
          <div class="col-12">
            <div class="tm-bg-black-transparent tm-services-detail-box">

                   <h1>Tophatter</h1> — развивается и увеличивает капитализацию компании, так что
                            беспокоится по поводу банкротства компании уж точно не стоит! Самый
                            большой риск — это то, что все беспокоятся, что их средства не смогут быть
                            выведены. Риск любой инвестиции заключается в потере основной суммы.
                            Поскольку основная сумма гарантированно будет заработана без потерь,
                            все беспокоятся о том, что "Tophatter" будет заблокирован, как некоторые
                            фейковые платформы. Поэтому в моем анализе риск заключается в том,
                            насколько длительным является текущий период возврата. После возврата
                            моего капитала наступает период прибыли.
                            Период риска при инвестировании в эту платформу находится в пределах
                            20-30 дней. Если у вас больше капитала и вы сформируете собственную
                            команду, период риска сократится.




                            <p>Если вы можете это вынести, то инвестируйте с уверенностью. Если не
                            можете вынести, то работайте спокойно. На самом деле, в моем понимании,
                            инвестирование в Tophatter называется не периодом риска, а периодом
                            зарабатывания денег.<p/>


                            <p><li>Что вы делаете сейчас без риска? Вождение автомобиля имеет риск
                            дорожного движения; помолвка и возможный разрыв брака, а женитьба
                            имеет риск развода. Многие люди потерпели неудачу и в браке, так неужели
                            вы все еще хотите потерпеть неудачу в своей жизни?</li></p>
                            Поэтому вам нужно подумать не о риске, а о том, сможете ли вы выдержать
                            так называемый период риска в двадцать дней, точно так же, как некоторые
                            люди в браке боятся, что не смогут выдержать удар, поэтому решают не
                            жениться вовсе до конца жизни.


                            <p>Точно так же, если вы боитесь неудачи, не начинайте бизнес. Если вы
                            боитесь риска, вы не будете выходить на улицу и просто останетесь дома. И
                            даже если вы не будете выходить, то риски все равно будут. Я не хочу
                            говорить в негативном ключе, но это правда.<p/>


                            <p>После этого периода риска вы можете использовать заработанную прибыль
                            для повторного инвестирования, что является нулевым риском и нулевыми
                            инвестициями. По сравнению с другими инвестиционными проектами,
                            акциями, фондами, сырой нефтью, фьючерсами и подобными онлайнинвестициями, я считаю, что такие инвестиции более контролируемые. Риск
                            ниже, механизм торговли прост, и нет никаких ограничений. Фонды более
                            гибкие, чем другие инвестиции.</p>


                            <p>Возможно, вы столкнетесь с такими и даже большими проблемами на пути
                            приглашения друзей. Кто-то предпочтет не поверить, а кто-то отнесется к
                            этому с пренебрежением. С такими людьми не нужно много разговаривать.
                            Если вы верите - вы заработаете деньги; если вы не верите в меня - тогда
                            найдите другого. У веры всегда больше шансов, чем у сомнения!</p>






                            <p>Пока вы цените себя, вы будете как магнит. Друзья и даже просто
                            незнакомые люди будут готовы повернуться к вам лицом и быть с вами. Не
                            вините реальность мира, сделайте себя сильным — это лучшее чувство
                            безопасности для себя.</p>


                            <p>Те, кто относится к этой группе, — это люди, которые хотят зарабатывать
                            деньги собственными усилиями. Но реальность такова, что люди с
                            капиталом на этой платформе могут заработать больше денег быстрее.
                            Люди, у которых нет капитала, также могут зарабатывать деньги
                            собственными усилиями, развивая команду, и в то же время они могут
                            зарабатывать деньги сами.</p>


                            <p>Через три месяца люди без капитала могут иметь более высокую
                            ежедневную прибыль, чем те, у кого есть основной капитал. Поскольку на
                            этой платформе все равны, полагаясь на собственные усилия, вы можете
                            превзойти любого!</p>


                            <p>Самая большая проблема обычных людей в том, что они хотят получить
                            больше, а отдают слишком мало! Они не приглашают друзей и не пишут в
                            Интернете. Потому что они боятся потерять лицо и боятся позора. Если вы
                            не можете сделать этот шаг, но вы все равно хотите зарабатывать больше,
                            чем 1000$ или 10 000$ в день. Настойчиво и серьезно подходите к делу.
                            Ничего плохого в том, чтобы поделиться!</p>


                            <li>Усилия прилагаются не для того, чтобы произвести на кого-то впечатление
                            или показаться кем-то, а для того, чтобы сделать себя способным покинуть
                            неприятную толпу, которая вам противна, и иметь право выбрать свой путь и
                            прожить свою жизнь так, как вам нравится.
                            </li>
                            <h1>Прошу запомнить следующее</h1>
                            <li>Эта платформа время от времени меняет адрес кошелька, пожалуйста
                            внимательно проверяйте адрес кошелька этой платформы перед пополнением.
                            Если у вас есть какие-либо вопросы, пожалуйста, нажмите на онлайн-службу
                            поддержки клиентов платформы, чтобы проконсультироваться. Сумма заказа
                            составляет от 10% до 50% от баланса на случайном счете пользователя
                            платформы по умолчанию, и каждый счет может представлять от 28 до 88
                            заказов в день. Например: сумма счета золотого участника составляет
                            1000USDT, сумма одного ордера - 500USDT, а комиссия - 0,9USDT. (Примечание:
                            Сумма каждого заказа непоследовательна)
                            </li>
                            <li>Торжественное напоминание: Чтобы избежать сетевых задержек и других
                            коммуникационных факторов, которые приводят к успешной отправке заказа,
                            чтобы отправить заказ вовремя и не вызвать замораживание, пожалуйста, не
                            забудьте завершить заказ, прежде чем покинуть режим страницы заказа; заказы,
                            не отправленные в течение 5 минут, будут заморожены.
                            Если платформа обнаружит вредоносное мошенничество, заполнит поддельную
                            информацию и регистрация нескольких учетных записей будет занесена в
                            черный список!!!
                            </li>
                            1. Серебряный член Flipkart Hall: основная сумма 50-5000USDT может
                            составлять до 0,15% от имени 28 заказов без требований агентства
                            2. Золотой член Allegro Hall: основная сумма 800-10000USDT может составлять
                            до 0,17% от имени 38 заказов, агентов первого уровня
                            3. Платиновый член eBay Hall: Принципал 3000-30000USDT может быть
                            использован для 48 заказов с комиссией 0,19% и 8 агентов первого уровня.
                            4. Зал Верховного члена Заландо: Основная сумма составляет 5000-300000
                            долларов США, а ставка комиссии может составлять до 0,22% от имени 58
                            заказов. 10 агентов первого уровня.
                            5. Diamond Member Cdiscount Hall: Основная сумма составляет
                            20000-600000USDT, а комиссионная ставка может составлять до 0,24% от
                            имени 78 заказов. 15 агентов первого уровня.
                            6. Комната Amazon для членов Black Gold: Основная сумма составляет
                            50000-1000000 USDT, а комиссионная ставка может составлять до 0,26% от
                            имени 88 заказов.20 агентов первого уровня.
                            Напоминание: Чтобы предотвратить злонамеренное отмывание денег или
                            обналичивание ряда неправильных действий, учетная запись участника
                            должна заполнить соответствующий номер комнаты. Если вы не поработали
                            после обновления дня, то вы сможете вывести только 10% от всей своей
                            суммы. Вывод средств может быть произведен в полном объеме и снятие
                            наличных будет поступать до 24 часов следующего дня после обновления дня
                            в течение 24 часов после технического обслуживания системы каждый день
                            24-часовой системы, а время обслуживания платформы с 23:30-00:30 - это
                            время обслуживания платформы, которое основано на времени Силиконовой
                            долины в штаб-квартире Tophatter
                </p>
            </div>
          </div>
</section>

<!-- Page footer -->
<footer class="row">
  <p class="col-12 text-white text-center tm-copyright-text">
    Copyright &copy; 2022 App .
    Designed by <a href="#" class="tm-copyright-link">Denny Templ</a>
  </p>
</footer>

{% endblock %}